@model IEnumerable<ASPProject.Models.Home.ItemModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
        </tr>
    }
</table>